.content_container {
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.half {
    position: static;
    margin-left: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 40%;
    justify-content: left;
}

.left {
	height: 100%;
	border-radius: 20px;
	background: #2b3035;
}

.right {
	height: 100%;
	overflow: auto;
}

#getFive {
	position: relative;
	margin-left: 80%;
}