<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weatherApp/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Task 5</title>
  </head>
     <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="{% url 'weatherApp:index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Task 5 - Django Web app with DB</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="https://github.com/ValKozz/Python-Tasks/tree/main/Task-4" class="nav-link">GitHub</a></li>
          </ul>
        </header>
    <!-- Jumbotron from Bootstrap's website -->
    <div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Task 5 - Django based Weather App</h1>
      <p class="col-lg-8 mx-auto lead">
        This is my simple rendition of Task 5, using the Bootsrap templates and examples. 
      </p>
    </div>
  </div>
</div>
