.content_container {
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.half {
    position: static;
    margin-left: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 40%;
    justify-content: left;
}

.left {
	height: 100%;
	border-radius: 20px;
	background: #2b3035;
}

.right {
	height: 100%;
	overflow: auto;
}

#getFive {
	position: relative;
	margin-left: 80%;
}

.card {
	background-color: #2b3035;
	margin-top: 20px;
}

.text-box {
	padding-top: 5%;
}

.history-container {
	padding: 10%;
}

.hist-card-container {
	verflow: auto;
	white-space: nowrap;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.history-cards-wrapper {
	height: 20vw;
	width: 100%;
}

#RefreshDB {
	margin-top: 5%;
	position: relative;
	margin-left: 90%;
}
